<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="swwxqhxy" value="http://127.0.0.1:8000" />
    <add key="cmsServer" value="115.159.95.226:80" />
    <add key="gatesensor" value="1" />
    <add key="hxswqhsensor" value="2" />
    <add key="hxswqhnum" value="201" />
  </appSettings>
</configuration>